* {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}
body {
  background: radial-gradient( rgba(73, 82, 165, 0.75), rgba(73, 82, 165, 0.75)), url('/assets/images/surveyimg.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.gform {
  margin: auto;
  max-width: 30rem;
  background-color: rgba(4, 4, 36, 0.6);
  padding: 18px;
  border-radius: 8px;
}

.xxm input {
  padding: 5px 0px 5px 3px;
  margin-bottom: 15px;
  width: 99%;
  color: black;
  border-radius: 6px;
}

select,
option {
  padding: 5px;
  margin-bottom: 15px;
  width: 99.8%;
  color: rgb(88, 86, 86);
  border-radius: 5px;
}

textarea {
  margin-bottom: 15px;
  width: 98%;
  color: black;
  border-radius: 3px; 
  height: 100px;
}

header {
  text-align: center;
}

button {
  width: 99%;
  background-color: green;
  border-radius: 3px;
  padding: 5px;
  border: none;
}
