body {
  background: radial-gradient( rgba(102, 61, 150, 0.8), rgba(102, 60, 151, 0.8)), url('/assets/images/surveyimg.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
