* {
  color: white;
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  margin: 0;
}

body {
  background: radial-gradient(rgb(73 82 165 / 75%), rgba(44 50 105 / 75%)),
    url("../assets/images/surveyimg.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.designform {
  font-size: 19px;
  margin: auto;
  max-width: 38rem;
  background-color: rgba(4 4 36 / 70%);
  padding: 2rem;
  border-radius: 8px;
}

.designinput input {
  padding: 7px 0 7px 8px;
  margin-bottom: 18px;
  width: 99%;
  color: rgb(0 0 0);
  border-radius: 6px;
  font-size: 15px;
}

select,
option {
  padding: 8px;
  margin-bottom: 18px;
  width: 100%;
  margin-left: 4px;
  color: rgb(88 86 86);
  border-radius: 5px;
  font-size: 15px;
}

input:focus {
  border: 2px solid blue;
  box-shadow: 0 0 5px blue;
  outline: none;
}

select:focus {
  border: 2px solid blue;
  outline: none;
}

textarea {
  margin-bottom: 15px;
  width: 99%;
  color: rgb(0 0 0);
  border-radius: 3px;
  height: 100px;
  font-size: 15px;
}

textarea:focus {
  border: 2px solid blue;
  outline: none;
}

input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

input[type="radio"] {
  height: 17px;
  width: 17px;
}

header {
  margin-top: 8px;
  text-align: center;
}

button {
  width: 100%;
  background-color: rgb(62 201 115);
  border-radius: 2px;
  padding: 13px;
  border: none;
  margin: auto;
  font-size: 16px;
}
